<h1 style="text-align: center;">Welcome to the Home Page</h1>
<p style="text-align: center;">This page was created for me to learn how to code using node.js, expressjs, sqlite3, and Angularjs</p>
<p style="text-align: center;">By making this web page, I became familiar with the angular js model, controller, view setup as well as 
    database querys and various styling elements like flexbox.</p>
<img src="./pictures/roy.jpg" alt="Chapel Hill logo" style="display: block;
margin-left: auto;
margin-right: auto;
width: 50%;">