.devMessage {
    border: solid 2px black;
    border-radius: 25px;
    background-color: transparent;
    color:white;
    font-size: large;
    text-align: justify;
    padding: 2em;
}

h4 {
    text-align: center;
}